<!-- <app-topnav></app-topnav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidenav">
  <div class="font3" style="padding: 30px 0 0 5px;">  Filters</div>
  <input type="text" placeholder="Search" class="search">
  <div class="font3" style="padding: 20px 0 0 5px;">Categories</div>
  <section class="example-section">
    <mat-checkbox  color="primary" class="example-margin font2">Dry Fruits</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Vegetables</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Fruits</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Pulses</mat-checkbox>
  </section>
  <div class="font3" style="padding: 20px 0 0 5px;">Rating</div>
  <section class="example-section">
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">1</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">2</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">3</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">4</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">5</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>

  </section>
  <div class="font3" style="padding: 20px 0 0 5px;">Price</div>
  <section class="example-section">
    <mat-checkbox  color="primary" class="example-margin font2">500-400</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">400-300</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">300-200</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">200-100</mat-checkbox>
  </section>
  <div class="font3" style="padding: 20px 0 0 5px;">Sort</div>
  <section class="example-section">
    <mat-checkbox  color="primary" class="example-margin font2">Low to High</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">High to Low</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Popular</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Recent</mat-checkbox>
  </section>
</div> -->

<div class="body">
  <app-topnav></app-topnav>

  <div class="sidenavbar">
            <h3 class="sidebarhead">search By companies</h3>
            <input type="text" class="searchbox">
            <img src="../../../assets/search.svg" class="sidebarsearch" alt="">

            <h3 class="filtertag">Filter</h3>

            <div>
              <ul class="checkbox" *ngFor="let range of ranges"> 
                <div><input type="checkbox" id="cb1" class="checkin" value="pepperoni" /><label for="cb1" class="label">{{range}}-{{range-100}}</label></div> 
              </ul>
            </div>

            <h3 class="cattag">Categories</h3>

              <div class="dropdown" >
                  <button class="dropbtn">Dropdown</button>
                  <div class="dropdown-content" >
                          <div *ngFor="let range of ranges">
                          <a href="#">{{range}}</a>

                          </div>
                  </div>
              </div>

              <h3 class="filtertag">Range</h3>

              <div>
                <ul class="checkbox" *ngFor="let range of ranges"> 
                  <div><input type="checkbox" id="cb1" class="checkin" value="pepperoni" /><label for="cb1" class="label">{{range/100}}</label></div> 
                </ul>
              </div>

  </div>

</div>
  