<!-- <app-topnav></app-topnav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidenav">
  <div class="font3" style="padding: 30px 0 0 5px;">  Filters</div>
  <input type="text" placeholder="Search" class="search">
  <div class="font3" style="padding: 20px 0 0 5px;">Categories</div>
  <section class="example-section">
    <mat-checkbox  color="primary" class="example-margin font2">Dry Fruits</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Vegetables</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Fruits</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Pulses</mat-checkbox>
  </section>
  <div class="font3" style="padding: 20px 0 0 5px;">Rating</div>
  <section class="example-section">
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">1</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">2</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">3</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">4</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>
  <div class="checkbox"><mat-checkbox  color="primary" class="example-margin font2">5</mat-checkbox><mat-icon style="margin-left: -8px;margin-top: -3px;">grade</mat-icon></div>

  </section>
  <div class="font3" style="padding: 20px 0 0 5px;">Price</div>
  <section class="example-section">
    <mat-checkbox  color="primary" class="example-margin font2">500-400</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">400-300</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">300-200</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">200-100</mat-checkbox>
  </section>
  <div class="font3" style="padding: 20px 0 0 5px;">Sort</div>
  <section class="example-section">
    <mat-checkbox  color="primary" class="example-margin font2">Low to High</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">High to Low</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Popular</mat-checkbox>
    <mat-checkbox  color="primary" class="example-margin font2">Recent</mat-checkbox>
  </section>
</div> -->
<app-topnav></app-topnav>
<div class="body">


  <div class="sidenavbar">
            <h3 class="sidebarhead">Search By Companies</h3>
            <input type="text" class="searchbox">
            <img src="../../../assets/search.svg" class="sidebarsearch" alt="">

            <h3 class="filtertag">Filter</h3>

            <div>
              <ul class="checkbox" *ngFor="let range of costs"> 
                <div><input type="checkbox" id="cb1" class="checkin" value="pepperoni" /><label for="cb1" class="label">{{range}}-{{range-100}}</label></div> 
              </ul>
            </div>

            <h3 class="cattag">Categories</h3>
            <div class="category">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
              <h3 class="filtertag">Range</h3>
              <div>
                <ul class="checkbox" *ngFor="let range of rating"> 
                  <div><input type="checkbox" id="cb1" class="checkin" value="pepperoni" /><label for="cb1" class="label">{{range}}</label></div> 
                </ul>
              </div>
  </div>


 <!--  -->
 <div class="cards">
 <div class="main"  *ngFor="let range of products">
 
  <mat-card class="example-card">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="{{range.img}}"  class="img">
      <img src="../../../assets/cart.png" class="cart" >
      <mat-card-content>
        
    <div class="det font5">{{range.name}}<br>{{range.cost}}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="det font5">Offer:{{range.offer}}</button>
        <button mat-button class="det font5">Stock:{{range.stock}}</button>
      </mat-card-actions>
    </mat-card>

 </div>
 
</div>
</div>

  