<div class="navbar">
    <h3 class="brand">Countryman</h3>
    <div class="Home">Home</div>
    <div class="Login">Login</div>
    <div class="About">About us</div>
    <input type="text" placeholder="Search..." class="search">
    <img src="../../../assets/Icon map-search.svg" style="width: 20px;height: auto;margin-left: 20px;align-items: center;margin-top: -2px;" alt="" class="searchicon">
    <img src="../../../assets/Ellipse 1.svg" style="width: 40px;height: auto;margin-left: 90px;align-items: center;margin-top: -2px;" alt="" class="searchicon">

    <div class="UserName">Pradeep</div>
  </div>

